.ToDo{
    display: flex;
    flex-direction: column;
    margin: -1px 0;
    padding: 15px 0;
    position: relative;
    width: 50vw;
    border: solid 2px black;
    background: #cecece;

}

.ToDo-remove{
    position: absolute;
    right: 30px;
    cursor: pointer;
    background: #191919;
    color: white;
    font-weight: 900;
    border: none;
}